.container {
  width: 90vw;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  align-items: center;
  padding: 5rem;
  margin: 5rem auto;
  background-color: #f16b8c;
  border-radius: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    .header {
      margin-bottom: 2rem;

      .pill {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1.2rem;
        border-radius: 2rem;
        background-color: var(--palepink);
        font-size: 0.85rem;
        color: var(--text);
        font-weight: 600;
        margin-bottom: 1rem;

        svg {
          color: var(--pink);
        }
      }

      h2 {
        font-size: 3rem;
        margin: 0;
        line-height: 1;
        font-family: "playfair", serif;
        position: relative;
        color: var(--cream);
        .lottie2 {
          position: absolute;
          right: -3rem;
          bottom: -2.5rem;
          transform: rotate(-20deg);
          width: 5rem;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;

      p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        position: relative;
        color: rgb(255, 254, 248, 0.8);

        strong {
          color: var(--cream);
          font-weight: 600;
        }
      }
      .lottie {
        position: absolute;
        width: 5rem;
        left: -3rem;
        bottom: -3rem;
        transform: rotate(20deg);
      }
    }
  }

  .imgContainer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & > div {
      position: relative;
    }
    img {
      width: 15rem;
      position: relative;
    }

    .img1 {
      top: -4rem;
      border-top-left-radius: 8rem;
    }
    .img2 {
      top: 4rem;
      border-bottom-right-radius: 8rem;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin: 3rem auto;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      margin-bottom: 1rem;
      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        h2 {
          font-size: 2.5rem;
        }
      }

      .description {
        p {
          text-align: center;
        }
        .lottie {
          left: -1rem;
          bottom: -2rem;
        }
      }
    }

    .imgContainer {
      img {
        width: 15rem;
        position: relative;
      }

      .img1 {
        top: -2rem;
      }
      .img2 {
        top: 2rem;
      }
    }
  }
}

// Responsive design
@media (max-width: 768px) {
  .container {
    padding: 3rem 1rem;

    .mobileP {
      display: none;
    }

    .content {
      .header {
        h2 {
          font-size: 2rem;
        }
      }

      .description {
        p {
          font-size: 1rem;
        }
      }
    }

    .imgContainer {
      gap: 1rem;
      img {
        width: 10rem;
        position: relative;
      }
    }
  }
}

@media (max-width: 620px) {
  .container {
    padding: 2rem 1rem;
    margin: 1rem auto;

    .content {
      padding: 0rem;
      .header {
        h2 {
          font-size: 2rem;
          text-align: center;
          .lottie2 {
            right: -1rem;
            bottom: -1.5rem;
            width: 4rem;
          }
        }
      }

      .description{
        .lottie {
        width: 4rem;
        left: -1rem;
        bottom: -2rem;
      }
      }
    }
  }
}
