.container {
  min-height: 85vh;
  // background: linear-gradient(
  //   360deg,
  //   rgba(255, 255, 255, 1) 72%,
  //   rgba(255, 224, 230, 1) 93%,
  //   rgba(255, 212, 222, 1) 100%
  // );
  // background-color: #fffefb;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: end;
  gap: 1rem;
  padding: 0 5rem;
  padding-top: 10rem;
  position: relative;

  .mobileP{
    display: none;
  }

  .content {
    padding: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .modelContainer {
      height: 55rem;
      width: 45rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -19rem;
      left: -17rem;
    }

    .pill {
      display: inline-block;
      padding: 0.35rem 0.95rem;
      border-radius: 2rem;
      background-color: var(--palepink);
      font-size: 0.8rem;
      color: rgb(62, 23, 27, 0.8);
      font-weight: 700;
      margin-left: 3rem;
    }

    h1 {
      font-size: 3.5rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      position: relative;
      img {
        position: absolute;
        right: -3.5rem;
        top: -2rem;
      }

      i {
        svg {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    p {
      position: relative;
      padding: 1rem 0;

      img {
        position: absolute;
        top: -2rem;
        left: 0rem;
        transform: rotate(15deg);
      }
    }

    .btnDiv {
      display: flex;
      align-items: center;
      gap: 2rem;
      button {
        display: flex;
        align-items: center;
        border: 0.13rem solid var(--text);
        padding: 0.5rem 1.25rem;
        border-radius: 2rem;
        gap: 0.2rem;
        transition: 0.2s all;
        color: var(--text);
        z-index: 99;

        svg {
          color: #3e171b;
        }

        &:hover {
          background-color: rgb(62, 23, 27, 0.9);
          color: #fffefb;
          box-shadow: 0px 3px 18px rgb(62, 23, 27, 0.7);
          transform: translateY(-3px);

          svg {
            color: #fffefb;
          }
        }
      }

      & > div {
        width: 100%;
        height: 0.1rem;
        background: linear-gradient(90deg, transparent 0%, var(--text) 100%);
        opacity: 0.9;
      }
    }
  }

  .imgMainContainer {
    display: flex;
    align-items: flex-end;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0.3) 35%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
      z-index: 1;
    }
  }

  .imgContainer {
    img {
      position: relative;
      top: -30%;
    }

    .rightImg {
      width: 23rem;
      height: 35rem;
      left: 2rem;
      transform: rotate(-1deg);
    }

    .leftImg {
      width: 26rem;
      height: 35rem;
      left: -3rem;
      transform: rotate(5deg);
    }
  }
}

@media (max-width: 1700px) {
  .container {
    .content {
      padding: 2rem;
      padding-bottom: 4rem;
      .modelContainer {
        top: -22rem;
        left: -20rem;
      }

      h1 {
        font-size: 2.75rem;
      }
    }

    .imgContainer {
      .rightImg {
        height: 33rem;
      }

      .leftImg {
        height: 33rem;
        left: -2rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 70% 30%;
    .content {
      padding: 2rem;
      padding-bottom: 4rem;
      padding-left: 0rem;
      .modelContainer {
        top: -22rem;
        left: -22rem;
      }

      h1 {
        font-size: 2.5rem;
      }
    }

    .imgContainer {
      .rightImg {
        height: 25rem;
        width: 30rem;
      }

      .leftImg {
        height: 25rem;
        left: 0.5rem;
        width: 30rem;
      }
    }
  }
}

@media (max-width: 825px) {
  .container {
    min-height: 50vh;
    grid-template-columns: 100%;
    padding-bottom: 0rem;

    .content {
      margin-top: 0rem;
    }

    .imgMainContainer {
      align-items: flex-start;
      justify-content: flex-end;
      top: -8rem;
    }

    .imgContainer {
      .rightImg {
        height: 15rem;
        width: 10rem;
      }

      .leftImg {
        height: 15rem;
        left: 0.5rem;
        width: 10rem;
      }
    }
  }
}

@media (max-width: 625px) {
 .container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 60% 40%;
  gap: 3rem;
  padding: 0 2rem;
  margin-top: 8rem;

  .mobileP{
    display:block;
  }

  .deskP{
    display: none;
  }

  .content {
    padding: 0rem;
    padding-left: 0.5rem;
    position: relative;
    margin-top: -2rem;

    .modelContainer {
      top: -25rem;
      left: -21rem;
    }

    .pill{
      margin-left: 2rem;
    }

    h1 {
      font-size: 1.5rem;
      img {
        width: 4rem;
        right: -2.5rem;
        top: -1.75rem;
      }
    }

    p {
      
      position: relative;
      padding: 0.75rem 0;

      img {
        top: -1rem;
        left: -1rem;
        width: 4rem;
      }
    }
  }

  .imgMainContainer {
    align-items: flex-start;
    justify-content: flex-end;
    top: -6.5rem;
    right: -3rem;
  }

  .imgContainer {
    img {
      position: relative;
    }

    .rightImg {
      width: 10rem;
      height: 17rem;
      left: 2rem;
    }

    .leftImg {
      width: 11rem;
      height: 17rem;
      left: -1rem;
    }
  }
}
}
