.container {
  min-height: 85vh;
  background-color: #fffefb;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: end;
  gap: 1rem;
  padding: 0 5rem;
  padding-top: 8rem;
  overflow: hidden;

  .content {
    padding: 5rem;
    h1 {
      font-size: 3.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      img{
        position: absolute;
        right: 3.8rem;
        top: -2rem;
      }

      i {
        svg {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    p {
      position: relative;
      padding: 1rem 0;

      img{
        position: absolute;
        top: -2rem;
        left: 0rem;
        transform: rotate(15deg);
      }
    }

    .btnDiv {
      display: flex;
      align-items: center;
      gap: 2rem;
      button {
        display: flex;
        align-items: center;
        border: 0.13rem solid var(--text);
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        gap: 0.2rem;
        transition: 0.2s all;
        color: var(--text);

        svg {
          color: #3e171b;
        }

        &:hover {
          background-color: rgb(62, 23, 27, 0.9);
          color: #fffefb;
          box-shadow: 0px 3px 18px rgb(62, 23, 27, 0.7);
          transform: translateY(-3px);

          svg {
            color: #fffefb;
          }
        }
      }

      & > div {
        width: 100%;
        height: 0.1rem;
        background: linear-gradient(
          90deg,
          transparent 0%,
          var(--text) 100%
        );
        opacity: 0.9;
      }
    }
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
    height: 28rem;
    width: 25rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.85) 5%,
      rgba(255, 255, 255, 0.7) 10%,
      rgb(254, 177, 198, 0.4) 100%
    );

    img {
      position: relative;
      top: -20%;
    }

    .rightImg {
      width: 25rem;
      height: 40rem;
    }

    .leftImg {
      width: 25rem;
      height: 38rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.85) 25%,
        rgba(255, 255, 255, 0.7) 55%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
      z-index: 1;
    }
  }
}
