.container {
  min-height: 85vh;
  // background: linear-gradient(
  //   360deg,
  //   rgba(255, 255, 255, 1) 72%,
  //   rgba(255, 224, 230, 1) 93%,
  //   rgba(255, 212, 222, 1) 100%
  // );
  // background-color: #fffefb;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: end;
  gap: 1rem;
  padding: 0 5rem;
  padding-top: 10rem;

  .content {
    padding: 5rem;
    position: relative;
    .modelContainer {
      height: 55rem;
      width: 45rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -19rem;
      left: -17rem;
    }

    .pill {
      display: inline-block;
      padding: 0.35rem 0.95rem;
      border-radius: 2rem;
      background-color: var(--palepink);
      font-size: 0.8rem;
      color: rgb(62, 23, 27, 0.8);
      font-weight: 700;
      margin-left: 3rem;
    }

    h1 {
      font-size: 3.5rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      position: relative;
      img {
        position: absolute;
        right: 14rem;
        top: -2rem;
      }

      i {
        svg {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    p {
      position: relative;
      padding: 1rem 0;

      img {
        position: absolute;
        top: -2rem;
        left: 0rem;
        transform: rotate(15deg);
      }
    }

    .btnDiv {
      display: flex;
      align-items: center;
      gap: 2rem;
      button {
        display: flex;
        align-items: center;
        border: 0.13rem solid var(--text);
        padding: 0.5rem 1.25rem;
        border-radius: 2rem;
        gap: 0.2rem;
        transition: 0.2s all;
        color: var(--text);
        z-index: 99;

        svg {
          color: #3e171b;
        }

        &:hover {
          background-color: rgb(62, 23, 27, 0.9);
          color: #fffefb;
          box-shadow: 0px 3px 18px rgb(62, 23, 27, 0.7);
          transform: translateY(-3px);

          svg {
            color: #fffefb;
          }
        }
      }

      & > div {
        width: 100%;
        height: 0.1rem;
        background: linear-gradient(90deg, transparent 0%, var(--text) 100%);
        opacity: 0.9;
      }
    }
  }

  .imgMainContainer {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0.3) 35%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
      z-index: 1;
    }
  }

  .imgContainer {

    img {
      position: relative;
      top: -30%;
    }

    .rightImg {
      width: 23rem;
      height: 35rem;
      left: 2rem;
      transform: rotate(-1deg);
    }

    .leftImg {
      width: 26rem;
      height: 35rem;
      left: -3rem;
      transform: rotate(5deg);
    }
  }
}
