.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;

  .content {
    max-width: 1200px;
    width: 100%;

    .header {
      text-align: center;
      margin-bottom: -1rem;

      .pill {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1.2rem;
        border-radius: 2rem;
        background-color: var(--palepink);
        font-size: 0.85rem;
        color: var(--text);
        font-weight: 600;
        margin-bottom: 1.5rem;

        svg {
          color: var(--pink);
        }
      }

      h2 {
        font-size: 2.75rem;
        font-weight: 800;
        margin: 0 0 1rem 0;
        line-height: 1.2;
        font-family: "playfair", serif;
      }

      p {
        font-size: 1.1rem;
        margin: 0;
      }
    }

    .servicesGrid {
      margin-top: -2rem;
      .card {
        background-color: var(--palepink);
        border-radius: 1rem;
        width: 10rem;
        height: 10rem;
        box-shadow: 1px 2px 5px rgb(71, 31, 40, 0.6);
      }
    }
  }
}

// Responsive design
@media (max-width: 768px) {
  .container {
    padding: 4rem 1.5rem;

    .content {
      .header {
        margin-bottom: 3rem;

        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .container {
    .servicesGrid {
      margin-top: -5rem;
      .card {
        max-width: 7rem;
        max-height: 7rem;

        img{
          width: 5rem;
        }
      }
    }
  }
}
