.container {
  background-color: #f16b8c;
  margin: 3rem auto;
  width: 80vw;
  padding: 2rem 8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  p {
    color: rgb(255, 255, 255, 0.6);
    text-align: center;
  }

  .title {
    h2 {
      font-size: 2rem;
      color: var(--white);
      padding-bottom: 1rem;
    }
  }

  .rating {
    display: flex;
    flex-direction: column;

    .leftContainer {
      h2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          color: var(--white);
          font-size: 1.5rem;
          position: relative;
          bottom: 0.3rem;
          padding-left: 0.5rem;
        }
      }
      p {
        color: rgb(255, 255, 255, 0.8);
        font-size: 0.9rem;
        padding-top: 0.15rem;
        text-align: center;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgb(255, 255, 255, 0.3) 50%,
        transparent 100%
      );
      margin: 1rem 0;
    }

    .rightContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;

      h3,
      p {
        text-align: center;
      }

      h3 {
        font-size: 2rem;
        color: var(--white);
        font-weight: 600;
      }

      span {
        width: 1px;
        height: 5rem;
        background: linear-gradient(
          180deg,
          transparent 0%,
          rgb(255, 255, 255, 0.3) 50%,
          transparent 100%
        );
      }
    }
  }

  .lottie2 {
    position: absolute;
    width: 8rem;
    bottom: -4rem;
    left: -3rem;
    transform: rotate(20deg);
  }

  .lottie1 {
    position: absolute;
    width: 8rem;
    top: -3rem;
    right: -4rem;
    transform: rotate(-25deg);
  }
}

@media (max-width: 1400px) {
  .container {
    margin: 5rem auto;
    width: 90vw;
    padding: 3rem 3rem;

    .title {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .title {
      h2 {
        text-align: center;
        font-size: 2rem;
        color: var(--white);
        padding-bottom: 1rem;
      }
    }

    .rating {
      display: flex;
      flex-direction: column;

      .leftContainer {
        h2 {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: var(--white);
            font-size: 1.5rem;
            position: relative;
            bottom: 0.3rem;
            padding-left: 0.5rem;
          }
        }
        p {
          color: rgb(255, 255, 255, 0.8);
          font-size: 0.9rem;
          padding-top: 0.15rem;
          text-align: center;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          transparent 0%,
          rgb(255, 255, 255, 0.3) 50%,
          transparent 100%
        );
        margin: 1rem 0;
      }

      .rightContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        h3,
        p {
          text-align: center;
        }

        h3 {
          font-size: 2rem;
          color: var(--white);
          font-weight: 600;
        }

        span {
          width: 1px;
          height: 5rem;
          background: linear-gradient(
            180deg,
            transparent 0%,
            rgb(255, 255, 255, 0.3) 50%,
            transparent 100%
          );
        }
      }
    }

    .lottie2 {
      position: absolute;
      width: 8rem;
      bottom: -4rem;
      left: -3rem;
      transform: rotate(20deg);
    }

    .lottie1 {
      position: absolute;
      width: 8rem;
      top: -3rem;
      right: -4rem;
      transform: rotate(-25deg);
    }
  }
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding: 2rem;

    .title {
      h2 {
        font-size: 1.75rem;
        padding-bottom: 0.75rem;
      }
    }

    .rating {
      .leftContainer {
        h2 {
          span {
            font-size: 1.5rem;
          }
        }
      }

      .rightContainer {
        gap: 2rem;

        h3 {
          font-size: 1.5rem;
        }

        span {
          height: 3rem;
        }
      }
    }

    .lottie2 {
      position: absolute;
      width: 8rem;
      bottom: -4rem;
      left: -3rem;
      transform: rotate(20deg);
    }

    .lottie1 {
      position: absolute;
      width: 8rem;
      top: -3rem;
      right: -4rem;
      transform: rotate(-25deg);
    }
  }
}

@media (max-width: 470px) {
  .container {
    width: 90vw;
    padding: 2rem;

    .rating {

      .rightContainer {
        gap: 2rem;
        align-items: flex-start;

        h3 {
          font-size: 1.5rem;
        }

        p{
          font-size: 0.9rem;
        }

        span {
          height: 3rem;
        }
      }
    }

    .lottie2 {
      width: 6rem;
      bottom: -4rem;
      left: -1rem;
    }
  }
}
