.container {
  position: relative;
  margin: 0 2rem;

  .logo {
    position: absolute;
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.75rem;
      font-weight: 800;
      position: relative;
      top: -0.5rem;
      left: -1.5rem;
    }
  }

  .divider {
    top: 7rem;
    margin: 0 auto;
    position: absolute;
    width: 95vw;
    height: 0.1rem;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--palepink) 50%,
      transparent 100%
    );
    opacity: 0.9;
  }
}

@media (max-width: 625px) {
  .container {
    margin: 0 0.5rem;

    .logo {
      left: -1rem;
      img{
        width: 5rem;
      }

      h1 {
        font-size: 1.5rem;
        top: -0.5rem;
        left: -1rem;
      }
    }

    button{
      position: fixed;
      right: 0.75rem;
    }

    .divider {
      top: 5rem;
    }
  }
}
